html {
  min-height: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  background-color: #1d1f28;
  background-attachment: fixed;
  background: #242f3a;
  background: -moz-linear-gradient(-45deg, #475566 0%, #242f3a 100%);
  background: -webkit-linear-gradient(-45deg, #475566 0%, #242f3a 100%);
  background: linear-gradient(135deg, #475566 0%, #242f3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242f3a', endColorstr='#475566', GradientType=1); }
  body .react-grid-item {
    background-color: #2f3235; }
    body .react-grid-item .component-heading {
      background-color: #181d22;
      color: white;
      margin: 0px;
      padding: 5px;
      font-size: 1.3rem; }
    body .react-grid-item .component-body {
      padding: 5px;
      font-size: 1rem;
      color: #979a9e;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 32px;
      word-wrap: break-word; }

::-webkit-scrollbar {
  display: none; }

::-webkit-scrollbar {
  display: block;
  width: 5px;
  background-color: #3f3f3f; }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #242020; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3f3f3f; }

#hello_form input {
  margin-top: 5px;
  width: 100%;
  background: rgba(22, 32, 41, 0.529);
  color: white;
  border: none;
  padding: 5px;
  box-sizing: border-box; }

#hello_form .output {
  position: absolute;
  top: 2.3rem;
  bottom: 10x;
  right: 10px;
  left: 10px;
  overflow: auto; }
  #hello_form .output p {
    margin: 10px 0px;
    overflow: auto; }
