html {
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    background-color: rgb(29, 31, 40);
    background-attachment: fixed;
    background: #242f3a;
    background: -moz-linear-gradient(-45deg, #b8b8b8 0%, #75797e 100%);
    background: -webkit-linear-gradient(-45deg, #b8b8b8 0%, #75797e 100%);
    background: linear-gradient(135deg, #b8b8b8 0%, #75797e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242f3a', endColorstr='#475566', GradientType=1);
    .react-grid-item {
        background-color: white;
        .component-heading {
            background-color: #008DFF;
            color: white;
            margin: 0px;
            padding: 5px;
            font-size: 1.3rem;
        }
        .component-body {
            padding: 5px;
            font-size: 1rem;
            color: #75797e;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 32px;
            word-wrap: break-word;
        }
    }
}

 ::-webkit-scrollbar {
    display: none;
}

 ::-webkit-scrollbar {
    display: block;
    width: 5px;
    background-color: rgb(63, 63, 63);
}

 ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(36, 32, 32);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(63, 63, 63);
}