#hello_form {
    input {
        margin-top: 5px;
        width: 100%;
        background: rgba(202, 202, 202, 0.529);
        color: white;
        border: none;
        padding: 5px;
        box-sizing: border-box;
    }
    .output {
        position: absolute;
        top: 2.3rem;
        bottom: 10x;
        right: 10px;
        left: 10px;
        overflow: auto;
        p {
            margin: 10px 0px;
            overflow: auto;
        }
    }
}